
<div class="container">
<h1 style="padding: 30px;">{{details[itemId-1].title}}</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" style="padding: 30px;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{details[itemId-1].image1}}" class="d-block w-100" alt="..." style="height: 700px;width: 10%;">
              </div>
              <div class="carousel-item">
                <img src="{{details[itemId-1].image2}}" class="d-block w-100" alt="..." style="height: 700px;width: 10%;">
              </div>
              <div class="carousel-item">
                <img src="{{details[itemId-1].image3}}" class="d-block w-100" alt="..." style="height: 700px;width: 10%;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
        <p>{{details[itemId-1].description}}</p>
      </div>
