body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  .container {
    margin-top: 30px;
    text-align: center;
  }

 /* img {
    max-width: 100%;
    height: auto;
  }*/
  p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }