/* You can add global styles to this file, and also import other style files */
body{
    background: #bdeab1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a0e089, #4ace25);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(103, 44%, 41%), #97df84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}