.cinzel-head {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
}

  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(151, 156, 161);
  }
  
  
  